---
export interface Props {
    step: string;
    detail: string;
}

const { step, detail } = Astro.props;
---

<li class="step step-primary step-done overflow-hidden">
    <div class="step-circle p-2">{step}</div>
    <h3>
        {detail}
    </h3>
</li>
