---
export interface Props {
    titleCard: string;
    subTitleCard: string;
}
const { titleCard, subTitleCard } = Astro.props;
---

<div>
    <div class="card-body">
        <h2 class="card-header">{titleCard}</h2>
        <p class="text-content2">
            {subTitleCard}
        </p>
        <div class="card-footer"></div>
    </div>
    <slot />
</div>
