---
import Paragraph from "@/layouts/gral/Paragraph.astro";
---

<section class="mt-2">
    <Paragraph>
        A continuación mi número de celular privado, mi correo electrónico y por
        último el enlace hacia mi perfil en LinkedIn.
    </Paragraph>
    <div class="card-body mb-0 pb-0">Celular: 094496014</div>
    <div class="divider"></div>
    <div class="card-body my-0 py-0">Mail: zamora.horacio@gmail.com</div>
    <div class="divider"></div>
    <div class="card-body my-0 py-0">
        <div class="btn-group">
            LinkedIn:
            <a
                class="ml-2 link link-primary"
                href="https://www.linkedin.com/in/horacio-zamora-17b5672b/"
                target="_blank"
            >
                Horacio Zamora
            </a>
        </div>
    </div>
    <div class="divider"></div>
</section>
