---
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";
import AccordionLayout from "@/layouts/gral/accordion/AccordionLayout.astro";
import ItemAccordionLayout from "@/layouts/gral/accordion/ItemAccordionLayout.astro";
---

<section class="mt-2">
    <AccordionLayout>
        <ItemAccordionLayout
            idAccordion={"meli"}
            period="Periodo: (Agosto 2023 - Mayo 2024)"
            titleAccordion={"Mercado Libre"}
            subTitleAccordion={"Programador Backend utiliznado Spring Boot con Java 11."}>
            <ParagraphDot margin={false}>
                Mantenimiento de sistemas construidos en Java 11 utilizando
                Spring Boot.
                <Paragraph>
                    Mantenimiento de otras aplicaciones construidas en Kotlin,
                    Go y Python.
                </Paragraph>
                <Paragraph>
                    Uso de herramientas como Datadog y Kibana para el monitoreo
                    del correcto funcionamiento de las aplicaciones.
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"switch"}
            period="Periodo: (Agosto 2021 - Agosto 2023)"
            titleAccordion={"Switch"}
            subTitleAccordion={"Programador Backend utiliznado Spring Boot con Java 8 y 11."}>
            <ParagraphDot margin={false}>
                Asignado como "Staff augmentation" en la empresa Verifone líder
                en la industria de la tecnología de pagos electrónicos.
                <Paragraph>
                    Realizando diversas tareas según se requiera, estas pueden
                    ser desarrollo de Api Rest en Java, mantenimiento de
                    sistemas legados en JavaEE, investigación en la utilizacion
                    de modulos de seguridad (ModSecurity) para configurar en
                    servidores Tomcat.
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Desarrollo de servicios Rest utilizando Spring Boot con Java en
                las versiones 8 y 11.
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Manejo de Maven como gestor de dependencias.
                <Paragraph>
                    Manejo de repositorio Bitbucket y manejo de comandos en Git.
                </Paragraph>
                <Paragraph>
                    Asignación de tareas en Jira como herramienta de gestion de
                    trabajo.
                </Paragraph>
                <Paragraph>Manejo de Mongo en la base de datos.</Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"bcu"}
            period="Periodo: (Febrero 2017 - Agosto 2021)"
            titleAccordion={"Banco Central de Uruguay (BCU)"}
            subTitleAccordion={"Programador full stack, PrimeFaces en el frontend y JavaEE en el backend."}>
            <ParagraphDot margin={false}>
                Por 4 años y medio desempeñé tareas como desarrollador Java en
                el Banco Central de Uruguay (BCU).
                <Paragraph>
                    Sitio: <a
                        class="link link-primary"
                        href="https://www.bcu.gub.uy"
                        target="_blank">
                        www.bcu.gub.uy
                    </a>
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Desarrollo de sistemas en Spring Boot utilizando Java 8.
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Mantenimientos de sistemas construidos en Primefaces y Richfaces
                y la lógica desarrollada en JavaEE sobre Jboss 7.
                <Paragraph>
                    Manejo de EJB 3, JPA con Hibernate y Oracle 11g como motor
                    de base de datos.
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"mides"}
            period="Periodo: (Febrero 2012 - Abril 2016)"
            titleAccordion={"Ministerio desarrollo social (Mides)"}
            subTitleAccordion={"Programador full stack, PrimeFaces en el frontend y JavaEE en el backend."}>
            <ParagraphDot margin={false}>
                Por 4 años me desempeñé como programador Java en el area de
                informática en el Ministerio de Desarrollo Social (Mides).
                <Paragraph>
                    Participé en la construcción del sistema informático central
                    que brinda soporte a los programas sociales que se llevan
                    adelante en el ministerio.
                </Paragraph>
                <Paragraph>
                    Realicé mantenimiento en sistema desarrollados en C# y ayudé
                    en la construcción de un sitio web construido con Drupal v7,
                    teniendo que utilizar en este último Php.
                </Paragraph>
                <Paragraph>Motor de base de datos Sql Server 2010.</Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"dinamica"}
            period="Periodo: (Marzo 2009 - Septiembre 2010)"
            titleAccordion={"Dinámica Consultores"}
            subTitleAccordion={"Desarrollador full stack de aplicaciones Web."}>
            <ParagraphDot margin={false}>
                Mis primeras herramientas como desarrollador Java las realicé en
                la empresa Dinamica consultores, abocada a servicios y
                consultoría de TI.
                <Paragraph>
                    Sitio: <a
                        class="link link-primary"
                        href="https://dinamica.com.uy"
                        target="_blank">
                        dinamica.com.uy
                    </a>
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={false}>
                En ese momento se utilizaba para el desarrollo Web la libreria
                Extjs.
                <Paragraph>
                    En el servidor se utilizaba JavaEE, con EJBs, Hibernate y
                    bases de datos PostgreSQL 8.4 y MySQL 5.6
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"dgr"}
            period="Periodo: (2008)"
            titleAccordion={"Dirección General de Registros (DGR)"}
            subTitleAccordion={"Pasantía en Dirección General de Registros (DGR)"}>
            <ParagraphDot margin={false}>
                Pasantía en Dirección General de Registros (DGR) realizando
                tareas en el area de infraestructura, investigación de
                tecnologías de seguridad y respaldo automatizado de datos,
                creación de scripts en Linux.
            </ParagraphDot>
        </ItemAccordionLayout>
    </AccordionLayout>
</section>
