---
import CardLayout from "@/layouts/gral/CardLayout.astro";
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";

const settle_next_imag_1 = "/assets/settle/next/img_1.png";
const settle_next_imag_2 = "/assets/settle/next/img_2.png";
const settle_next_imag_3 = "/assets/settle/next/img_3.png";
const settle_next_imag_4 = "/assets/settle/next/img_4.png";
const settle_next_imag_5 = "/assets/settle/next/img_5.png";

const settle_vue_imag_1 = "/assets/settle/vue/img_1.png";
const settle_vue_imag_2 = "/assets/settle/vue/img_2.png";
const settle_vue_imag_3 = "/assets/settle/vue/img_3.png";
const settle_vue_imag_4 = "/assets/settle/vue/img_4.png";
const settle_vue_imag_5 = "/assets/settle/vue/img_5.png";
---

<section class="mt-2">
    <Paragraph>
        A continuación, algunos proyectos en los cuales trabajé para aprender y probar nuevas tecnologías.
        Estos sitios son básicos pero funcionales, no estan completamente terminados pero me ayudaron a 
        identificar las ventajas y desventajas de las herramientas utilizadas.
    </Paragraph>
    <CardLayout
        titleCard={"Curriculum vitae"}
        subTitleCard={"Sitio web construído en Astrojs utilizando el framework Tailwind CSS para el diseño de páginas."}
    >
        <Paragraph>
            Repositorio: <a
                class="link link-primary"
                href="https://gitlab.com/JaimeHoracio/astro_cv"
                target="_blank">https://gitlab.com/JaimeHoracio/astro_cv</a
            >
        </Paragraph>
        <Paragraph>
            Sitio web: <a
                class="link link-primary"
                href="https://hachezetacv.netlify.app"
                target="_blank">https://hachezetacv.netlify.app</a
            >
        </Paragraph>
    </CardLayout>
    <div class="divider"></div>
    <CardLayout
        titleCard={"Settle en Nextjs"}
        subTitleCard={"Sitio web construído para registrar gastos compartidos y realizar cálculos automático de cuanto debe cada usuario, minimizando las transferencias entre los participantes."}
    >
        <ParagraphDot margin={false}>
            El sitio fue construido utilizando Typescript, Reactjs y Nextjs en su version 14.
            <Paragraph>
                Para para el diseño de páginas utilicé el framework Tailwind CSS.
            </Paragraph>
        </ParagraphDot>
        <Paragraph>
            Repositorio: <a
                class="link link-primary"
                href="https://github.com/JaimeHoracio/settle_next"
                target="_blank">https://github.com/JaimeHoracio/settle_next</a
            >
        </Paragraph>
        <Paragraph>
            Sitio web: <a
                class="link link-primary"
                href="https://settlenext.netlify.app"
                target="_blank">https://settlenext.netlify.app</a
            >
        </Paragraph>
        <div class="flex w-full justify-center gap-4 mt-3">
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_1} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_2} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_3} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_4} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_5} alt="" />
            </div>
        </div>
    </CardLayout>
    <div class="divider"></div>
    <CardLayout
        titleCard={"Settle en Vue 3"}
        subTitleCard={"Sitio web construído para registrar gastos compartidos y realizar cálculos automático de cuanto debe cada usuario, minimizando las transferencias entre los participantes."}
    >
        <ParagraphDot margin={false}>
            El Frontend fue construído con el framework Vue 3, utilizando la
            libreria Pinia como manejador de estados y Vue-Router para enrutado
            de páginas.
            <Paragraph>
                Para el maquetado utilicé el framework Ionic en su versión 7
            </Paragraph>
            <Paragraph>
                Axios como cliente HTTP para la comunciación con el servidor.
            </Paragraph>
        </ParagraphDot>
        <ParagraphDot margin={true}>
            El Backend fue construido utilizando Spring Boot con Java versión
            17.
            <Paragraph>
                Api Rest con WebFlux para tener un comportamiento asincrónico no
                bloqueante del lado del servidor, lo que permite mayor
                disponibilidad y hacer un uso mas eficiente de los recursos.
            </Paragraph>
            <Paragraph>
                En la base de datos opté por usar Mongo ya que los datos podían
                representarse como documentos sin ningun problema.
            </Paragraph>
        </ParagraphDot>
        <Paragraph>
            Repositorio: <a
                class="link link-primary"
                href="https://gitlab.com/JaimeHoracio/settle_front"
                target="_blank"
            >
                https://gitlab.com/JaimeHoracio/settle_front
            </a>
        </Paragraph>
        <Paragraph>
            Repositorio: <a
                class="link link-primary"
                href="https://github.com/JaimeHoracio/settle-mongo"
                target="_blank"
            >
                https://github.com/JaimeHoracio/settle-mongo
            </a>
        </Paragraph>
        <Paragraph>
            Sitio web: <a
                class="link link-primary"
                href="https://settlevue.netlify.app"
                target="_blank"
            >
                https://settlevue.netlify.app
            </a>
        </Paragraph>

        <div class="flex w-full justify-center gap-4 mt-3">
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_1} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_2} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_3} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_4} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_5} alt="" />
            </div>
        </div>
    </CardLayout>
</section>
