---
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";
import PerfilImage from "@/components/PerfilImage.astro";
---

<PerfilImage />

<section class="mt-5">
    <ParagraphDot margin={false}>Mi nombre es Horacio Zamora.</ParagraphDot>
    <ParagraphDot margin={true}>
        Licenciado en Informática título obtenido en la Universidad de la
        Empresa (UDE) en el año 2021.
        <Paragraph>
            Título de Analista en Computación otorgado por la Facultad de
            Ingeniería de la Universidad de la República (UdelaR) en el año
            2019.
        </Paragraph>
    </ParagraphDot>
    <ParagraphDot margin={true}>
        Me apasiona el desarrollo de software y me gusta aprender nuevas
        tecnologías.
        <Paragraph>
            Me especializo en el desarrollo de software en el lado del backend
            con Java y Spring Boot pero tengo conocimientos en otros lenguajes
            como Python y Node.js. 
        </Paragraph>
        <Paragraph>
            Tambien me gusta el lado del frontend y tengo conocimientos en las
            siguientes librerias y framework: Vue 3, Ionic, Reactjs, Nextjs.
        </Paragraph>
    </ParagraphDot>
    <ParagraphDot margin={true}>
        Comencé esta hermosa profesión en el año 2009 con mi primera
        experiencia vinculado al desarrollo de software, primero como
        programador junior y desde entonces adquiriendo nuevas habilidades
        y creciendo continuamente como profesional.
    </ParagraphDot>
    <ParagraphDot margin={true}>
        Me considero una persona proactiva, me gusta trabajar en equipo, aportar
        desde mi experiencia y abierto a adaptarme a las exigencias inherentes
        de esta profesión.
    </ParagraphDot>

    <ParagraphDot margin={true}>
        A continuación cursos realizados, algunos cursos cayeron en desuso pero
        demuestra mis ganas de aprender.
        <Paragraph>
            2014 - Curso Herramienta para el trabajo en Equipo, impartido por
            Escuela Nacional de Administración Pública (Enap), 20hs.
        </Paragraph>
        <Paragraph>
            2014 - Curso de Negociación, impartido por Escuela Nacional de
            Administración Pública (Enap), 12hs.
        </Paragraph>
        <Paragraph>
            2012 - Curso Diseñador Web en Bios, conocimientos en DreamWeaver,
            Adobe Fireworks y Adobe Flash.
        </Paragraph>
        <Paragraph>
            2011 - Curso en C# dictado por personal de Microsoft. Conceptos
            vistos: Asp.Net, Silverlight 4.0, WCF y WP7 y Visual Studio9.
        </Paragraph>
        <br />
    </ParagraphDot>
</section>
