---
import BaseLayoutApp from "@/layouts/BaseLayoutApp.astro";
import ProfileCv from "@/components/cv/en/Profile.astro";

const label_profile = 0;
const lang = "/en";
---

<BaseLayoutApp title_app="Profile" selected={label_profile} lang={lang}>
	<ProfileCv />
</BaseLayoutApp>
