---
import BaseLayoutApp from "@/layouts/BaseLayoutApp.astro";
import PortfoliosCv from "@/components/cv/en/Portfolio.astro";

const label_portfolio = 2;
const lang = "/en";
---

<BaseLayoutApp title_app="Projects" selected={label_portfolio} lang={lang}>
	<PortfoliosCv />
</BaseLayoutApp>
