<template>
  <div class="relative">
    <div class="absolute right-0">
      <a
        tabindex="-1"
        class="dropdown-item text-sm link-primary mx-0 my-1 p-0"
        :href="dw_cv"
        download
      >
        <div class="avatar avatar-xs">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z"
            ></path>
          </svg>
        </div>
      </a>
    </div>
  </div>
</template>

<script setup lang="ts">
import es_cv_pdf from "/assets/cv/cv_es_horacio_zamora.pdf";
import en_cv_pdf from "/assets/cv/cv_en_horacio_zamora.pdf";
import { computed } from "vue";

const props = defineProps<{
  lang: string;
}>();

const dw_cv = computed(() => {
  return props.lang === "/es" ? es_cv_pdf : en_cv_pdf;
});
</script>

<style scoped></style>
