<template>
  <a v-if="props.lang === english" :href="spanish">
    <div class="avatar avatar-xs">
      <img :src="flag_eeuu" alt="EN"/>
    </div>
    <p class="text-xs">EN</p>
  </a>
  <a v-else :href="english">
    <div class="avatar avatar-xs">
      <img :src="flag_uy" alt="ES"/>
    </div>
    <p class="text-xs">ES</p>
  </a>
</template>

<script setup lang="ts">
import flag_uy from "/assets/cv/flag_uy.png";
import flag_eeuu from "/assets/cv/flag_eeuu.png";

const props = defineProps<{
  lang: string;
}>();

const english = "/en";
const spanish = "/es";
</script>
<style scoped></style>
