---
import Paragraph from "@/layouts/gral/Paragraph.astro";
import { NAME_PROFILE } from "@/consts";
---

<section class="mt-2">
    <Paragraph>
        Below is my private cell phone number, my email address and finally the
        link to my LinkedIn profile.
    </Paragraph>
    <div class="card-body mb-0 pb-0">Celular: 094496014</div>
    <div class="divider"></div>
    <div class="card-body my-0 py-0">Mail: zamora.horacio@gmail.com</div>
    <div class="divider"></div>
    <div class="card-body my-0 py-0">
        <div class="btn-group">
            LinkedIn:
            <a
                class="ml-2 link link-primary"
                href="https://www.linkedin.com/in/horacio-zamora-17b5672b/"
                target="_blank"
            >
                {NAME_PROFILE}
            </a>
        </div>
    </div>
    <div class="divider"></div>
</section>
