---
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";
import AccordionLayout from "@/layouts/gral/accordion/AccordionLayout.astro";
import ItemAccordionLayout from "@/layouts/gral/accordion/ItemAccordionLayout.astro";
---

<section class="mt-2">
    <AccordionLayout>
        <ItemAccordionLayout
            idAccordion={"meli"}
            period="Periodo: (August 2023 - May 2024)"
            titleAccordion={"Mercado Libre"}
            subTitleAccordion={"Backend Developer using Spring Boot with Java 11."}>
            <ParagraphDot margin={false}>
                Maintenance of systems built with Java 11 using Spring Boot.
                <Paragraph>
                    Maintenance of other applications built in Kotlin, Go, and
                    Python.
                </Paragraph>
                <Paragraph>
                    Use of tools such as Datadog and Kibana for monitoring the
                    proper functioning of the applications.
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <ItemAccordionLayout
            idAccordion={"switch"}
            period="Duration: (August 2021 - August 2023)"
            titleAccordion={"Switch"}
            subTitleAccordion={"Backend programmer using Spring Boot with Java 8 and 11."}>
            <ParagraphDot margin={false}>
                Assigned to Verifone, a leader in electronic payment technology,
                as a staff augmentation.
                <Paragraph>
                    Perform a variety of tasks as required, which may include
                    developing Java Api Rest, maintaining of legacy systems in
                    JavaEE, researching in the use of security modules
                    (ModSecurity) to configure on Tomcat servers.
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Rest services built with Spring Boot using Java versions 8 and
                11.
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Using Maven to manage dependencies.
                <Paragraph>
                    Bitbucket repository management and Git command management.
                </Paragraph>
                <Paragraph>
                    Assignment of tasks in Jira as a work management tool.
                </Paragraph>
                <Paragraph>Management of Mongo in the database.</Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"bcu"}
            period="Duration: (February 2017 - August 2021)"
            titleAccordion={"Central Bank of Uruguay (BCU)"}
            subTitleAccordion={"Full stack programmer, PrimeFaces in the frontend and JavaEE in the backend."}>
            <ParagraphDot margin={false}>
                I worked at the Central Bank of Uruguay (BCU) as a Java
                developer for four years.
                <Paragraph>
                    Web site: <a
                        class="link link-primary"
                        href="https://www.bcu.gub.uy"
                        target="_blank">
                        www.bcu.gub.uy
                    </a>
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Using Java 8 to develop Spring Boot systems.
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Maintaining systems built on Primefaces and Richfaces and logic
                developed in JavaEE running on Jboss 7.
                <Paragraph>
                    Logic and Databases, EJB 3, JPA with Hibernate, and Oracle
                    11g.
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"mides"}
            period="Duration: (February 2012 - April 2016)"
            titleAccordion={"Ministry of Social Development (Mides)"}
            subTitleAccordion={"Full stack programmer, PrimeFaces in the frontend and JavaEE in the backend."}>
            <ParagraphDot margin={false}>
                I worked at the Ministry of Social Development (Mides) for 4
                years as a Java programmer in the IT department.
                <Paragraph>
                    I was part of the construction of the central computer
                    system in support of the ministry's social programs.
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                I performed maintenance on a system developed in C#. I also
                helped build a website using Drupal v7 and the Php language.
                <Paragraph>Sql Server 2010 database engine.</Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"dinamica"}
            period="Duration: (March 2009 - September 2010)"
            titleAccordion={"Dinámica Consultores"}
            subTitleAccordion={"Full stack Web application developer."}>
            <ParagraphDot margin={false}>
                My first tools as a Java developer were developed at Dinamica
                Consultores. Dinamica is an IT services and consulting company.
                <Paragraph>
                    Web site: <a
                        class="link link-primary"
                        href="https://dinamica.com.uy"
                        target="_blank">
                        dinamica.com.uy
                    </a>
                </Paragraph>
            </ParagraphDot>
            <ParagraphDot margin={true}>
                Extjs library was used for Web development.
                <Paragraph>
                    The server used JavaEE, with EJBs, Hibernate and PostgreSQL
                    8.4 and MySQL 5.6 databases.
                </Paragraph>
            </ParagraphDot>
        </ItemAccordionLayout>
        <br />
        <ItemAccordionLayout
            idAccordion={"dgr"}
            period="Duration: (2008)"
            titleAccordion={"Dirección General de Registros (DGR)"}
            subTitleAccordion={"Internship at the General Directorate of Registries (DGR)"}>
            <ParagraphDot margin={false}>
                Internship at the Dirección General de Registros (DGR),
                performing infrastructure tasks, researching security
                technologies and automated backup, writing scripts for Linux.
            </ParagraphDot>
        </ItemAccordionLayout>
    </AccordionLayout>
</section>
