---
import CardLayout from "@/layouts/gral/CardLayout.astro";
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";

const settle_next_imag_1 = "/assets/settle/next/img_1.png";
const settle_next_imag_2 = "/assets/settle/next/img_2.png";
const settle_next_imag_3 = "/assets/settle/next/img_3.png";
const settle_next_imag_4 = "/assets/settle/next/img_4.png";
const settle_next_imag_5 = "/assets/settle/next/img_5.png";

const settle_vue_imag_1 = "/assets/settle/vue/img_1.png";
const settle_vue_imag_2 = "/assets/settle/vue/img_2.png";
const settle_vue_imag_3 = "/assets/settle/vue/img_3.png";
const settle_vue_imag_4 = "/assets/settle/vue/img_4.png";
const settle_vue_imag_5 = "/assets/settle/vue/img_5.png";
---

<section class="mt-2">
    <Paragraph>
        Below are some projects I worked on to learn and experiment with new
        technologies. These websites are basic but functional; they are not
        fully completed, but they helped me identify the advantages and
        disadvantages of the tools used.
    </Paragraph>
    <CardLayout
        titleCard={"Curriculum vitae"}
        subTitleCard={"A website built with Astro.js, using the Tailwind CSS framework for page design."}>
        <Paragraph>
            Repository: <a
                class="link link-primary"
                href="https://gitlab.com/JaimeHoracio/astro_cv"
                target="_blank">https://gitlab.com/JaimeHoracio/astro_cv</a
            >
        </Paragraph>
        <Paragraph>
            Website: <a
                class="link link-primary"
                href="https://hachezetacv.netlify.app"
                target="_blank">https://hachezetacv.netlify.app</a
            >
        </Paragraph>
    </CardLayout>
    <div class="divider"></div>
    <CardLayout
        titleCard={"Settle en Nextjs"}
        subTitleCard={"A website built to record expenses between users."}>
        <ParagraphDot margin={false}>
            The website was built using TypeScript, React.js, and Next.js
            version 14.
            <Paragraph>
                For page design, I used the Tailwind CSS framework.
            </Paragraph>
        </ParagraphDot>
        <Paragraph>
            Repository: <a
                class="link link-primary"
                href="https://github.com/JaimeHoracio/settle_next"
                target="_blank">https://github.com/JaimeHoracio/settle_next</a
            >
        </Paragraph>
        <Paragraph>
            Website: <a
                class="link link-primary"
                href="https://settlenext.netlify.app"
                target="_blank">https://settlenext.netlify.app</a
            >
        </Paragraph>
        <div class="flex w-full justify-center gap-4 mt-3">
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_1} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_2} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_3} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_4} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_next_imag_5} alt="" />
            </div>
        </div>
    </CardLayout>
    <div class="divider"></div>
    <CardLayout
        titleCard={"Settle en Vue 3"}
        subTitleCard={"A website built to record expenses between users."}>
        <ParagraphDot margin={false}>
            The frontend was built with the Vue 3 framework, using the Pinia
            library for state management and Vue Router for page routing.
            <Paragraph>
                For the layout, I used the Ionic framework version 7.
            </Paragraph>
            <Paragraph>
                Axios was used as the HTTP client for communication with the
                server.
            </Paragraph>
        </ParagraphDot>
        <ParagraphDot margin={true}>
            The backend was built using Spring Boot with Java version 17.
            <Paragraph>
                A REST API with WebFlux was implemented to achieve asynchronous,
                non-blocking behavior on the server side, allowing for greater
                availability and more efficient resource usage.
            </Paragraph>
            <Paragraph>
                For the database, I chose MongoDB since the data could easily be
                represented as documents without any issues.
            </Paragraph>
        </ParagraphDot>
        <Paragraph>
            Repository: <a
                class="link link-primary"
                href="https://gitlab.com/JaimeHoracio/settle_front"
                target="_blank">
                https://gitlab.com/JaimeHoracio/settle_front
            </a>
        </Paragraph>
        <Paragraph>
            Repository: <a
                class="link link-primary"
                href="https://github.com/JaimeHoracio/settle-mongo"
                target="_blank">
                https://github.com/JaimeHoracio/settle-mongo
            </a>
        </Paragraph>
        <Paragraph>
            Website: <a
                class="link link-primary"
                href="https://settlevue.netlify.app"
                target="_blank">
                https://settlevue.netlify.app
            </a>
        </Paragraph>

        <div class="flex w-full justify-center gap-4 mt-3">
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_1} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_2} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_3} alt="" />
            </div>

            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_4} alt="" />
            </div>
            <div class="max-w-full items-center justify-center">
                <img src={settle_vue_imag_5} alt="" />
            </div>
        </div>
    </CardLayout>
</section>
