---
import Paragraph from "@/layouts/gral/Paragraph.astro";
import ParagraphDot from "@/layouts/gral/ParagraphDot.astro";
import PerfilImage from "@/components/PerfilImage.astro";
---

<PerfilImage />

<section class="mt-5">
    <ParagraphDot margin={false}>My name is Horacio Zamora.</ParagraphDot>
    <ParagraphDot margin={true}>
        Bachelor’s Degree in Computer Science, obtained from Universidad de la
        Empresa (UDE) in 2021.
        <Paragraph>
            Computer Analyst Degree awarded by the Faculty of Engineering at
            Universidad de la República (UdelaR) in 2019.
        </Paragraph>
    </ParagraphDot>
    <ParagraphDot margin={true}>
        I am passionate about software development and enjoy learning new
        technologies.
        <Paragraph>
            I specialize in backend software development with Java and Spring
            Boot, but I also have knowledge of other languages, such as Python
            and Node.js.
        </Paragraph>
        <Paragraph>
            I also enjoy frontend development and am knowledgeable in the
            following libraries and frameworks: Vue 3, Ionic, React.js, Next.js.
        </Paragraph>
    </ParagraphDot>
    <ParagraphDot margin={true}>
        I began this wonderful profession in 2009 with my first experience in
        software development, initially as a junior programmer, and since then I
        have continuously acquired new skills and grown as a professional.
    </ParagraphDot>
    <ParagraphDot margin={true}>
        I consider myself proactive, I enjoy working in a team, contributing
        from my experience, and I am open to adapting to the demands inherent in
        this profession.
    </ParagraphDot>

    <ParagraphDot margin={true}>
        Below is a list of courses I have completed; some have become outdated,
        but they demonstrate my eagerness to learn.
        <Paragraph>
            2014 - Teamwork Tools course, provided by the National School of
            Public Administration (ENAP), 20 hours.
        </Paragraph>
        <Paragraph>
            2014 - Negotiation course, provided by the National School of Public
            Administration (ENAP), 12 hours.
        </Paragraph>
        <Paragraph>
            2012 - Web Designer course at Bios, covering skills in DreamWeaver,
            Adobe Fireworks, and Adobe Flash.
        </Paragraph>
        <Paragraph>
            2011 - C# course taught by Microsoft personnel. Topics covered:
            ASP.NET, Silverlight 4.0, WCF, WP7, and Visual Studio 9.
        </Paragraph>
        <br />
    </ParagraphDot>
</section>
