---
import { NAME_PROFILE } from "@/consts";
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()}
	{NAME_PROFILE}.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
