---
import Lang from "@/components/cv/Lang.vue";
import NavApp from "./NavApp.astro";
import { NAME_PROFILE, PATH_IMG_PROFILE } from "@/consts";

export interface Props {
    select: number;
    lang: string;
}

const { select, lang } = Astro.props;
---

<header>
    <div class="navbar">
        <div class="navbar-start">
            <div class="avatar">
                <img src={PATH_IMG_PROFILE} alt={NAME_PROFILE} />
            </div>
            <a class="navbar-item" href={lang + "/"}>{NAME_PROFILE}</a>
        </div>
        <div class="navbar-end">
            <a>
                <Lang lang={lang} client:visible />
            </a>
        </div>
    </div>
    <NavApp select={select} lang={lang} />
</header>
