---
export interface Props {
    select: number;
    lang: string;
}

import DwCv from "@/components/cv/DwCv.vue";

const { select, lang } = Astro.props;
const underline = "navbar-item text-decoration-line: underline";
const espanish = "/es";
---

<nav>
    <div class="navbar">
        <div class="navbar-start">
            <a
                class={select === 0 ? underline : "navbar-item"}
                href={lang + "/"}
            >
                {lang === espanish ? "Perfil" : "Profile"}
            </a>
            <a
                class={select === 1 ? underline : "navbar-item"}
                href={lang + "/jobs"}
            >
                {lang === espanish ? "Experiencia" : "Jobs"}
            </a>
            <a
                class={select === 2 ? underline : "navbar-item"}
                href={lang + "/portfolio"}
            >
                Portfolio
            </a>
            <a
                class={select === 3 ? underline : "navbar-item"}
                href={lang + "/contacts"}
            >
                {lang === espanish ? "Contactos" : "Contacts"}
            </a>
        </div>
        <DwCv lang={lang} client:load />
    </div>
</nav>
