---
export interface Props {
    idAccordion: string;
    titleAccordion: string;
    subTitleAccordion: string;
    period: string;
}
const { idAccordion, titleAccordion, subTitleAccordion, period } = Astro.props;
---

<div class="accordion">
    <input type="checkbox" id={idAccordion} class="accordion-toggle" />
    <label for={idAccordion} class="accordion-title">
        <span>{titleAccordion}</span>
        <span class="text-sm text-content3 font-normal">
            <p>{period}</p>
            {subTitleAccordion}
        </span>
    </label>
    <span class="accordion-icon">
        <svg width="24" height="24" viewBox="0 0 24 24"
            ><path
                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
            ></path></svg
        >
    </span>
    <div class="accordion-content text-content2">
        <div class="min-h-0">
            <slot />
        </div>
    </div>
</div>
