---
import BaseLayoutApp from "@/layouts/BaseLayoutApp.astro";
import ContactsCv from "@/components/cv/es/Contacts.astro";

const label_constacts = 3;
const lang = "/es";
---

<BaseLayoutApp title_app="Contacts" selected={label_constacts} lang={lang}>
	<ContactsCv />
</BaseLayoutApp>
