---
import BaseLayoutApp from "@/layouts/BaseLayoutApp.astro";
import JobsCv from "@/components/cv/es/Jobs.astro";

const label_jobs = 1;
const lang = "/es";
---

<BaseLayoutApp title_app="Jobs" selected={label_jobs} lang={lang}>
	<JobsCv />
</BaseLayoutApp>
