---
import BaseLayoutApp from "@/layouts/BaseLayoutApp.astro";
import PortfolioCv from "@/components/cv/es/Portfolio.astro";

const label_portfolio = 2;
const lang = "/es";
---

<BaseLayoutApp title_app="Projects" selected={label_portfolio} lang={lang}>
	<PortfolioCv />
</BaseLayoutApp>
