---
import FooterApp from "@/components/FooterApp.astro";
import HeaderApp from "@/components/HeaderApp.astro";
export interface Props {
    title_app: string;
    selected: number;
    lang: string;
}

const { title_app, selected, lang } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title_app}</title>
    </head>
    <body class="w-fit p-5 max-w-2xl container mx-auto">
        <HeaderApp select={selected} lang={lang} />
        <main>
            <article>
                <slot />
            </article>
        </main>
        <FooterApp />
    </body>
</html>
